/* 부모 컨테이너 중앙 정렬 및 크기 조정 */
.pending-update-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.pending-update-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  width: 150px; /* 컨텐츠 최대 너비 설정 */
  height: 150px; /* 동일한 높이 설정 */
}

/* 이미지와 텍스트 컨테이너에 동일한 크기 적용 */
.pending-update-image,
.pending-update-text {
  width: 100%;
  height: 100%; /* 높이를 부모에 맞게 설정 */
  max-width: 600px;
  object-fit: cover; /* 이미지 크기가 컨테이너에 맞춰지도록 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pending-update-text p {
  margin: 0;
  font-size: 0.8rem;
  color: #9e9e9e;
  font-weight: bold;
}
